@import "tailwindcss";

html {
  background: white;
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 84px;
}

body {
  margin: 0;
  min-height: 100vh;
}

/* .wire-section {
  border-bottom: 1px solid #d6d6d6;
}

.wire-box {
  border: 1px dashed #c8c8c8;
} */

.wire-section,
.wire-box {
  border: none;
}

site-navbar {
  display: block;
  position: sticky;
  top: 0;
  z-index: 50;
}